.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.Zipcode {
  margin-left: 40%;
  margin-top: 20px;
}

.No-result {
  text-align: center;
}

.Card {
  width: 25rem;
  margin-left: 35%;
  margin-top: 20px;
}